:root {
  --var-color-back-text: #ffffff;
  --var-color-textdeco-ho-fo: #2196f3;
  --var-color-text-black: #212121;
  --var-color-text-gris: #757575;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: var(--var-color-back-text);
  color: var(--var-color-text-black);
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  margin: 0 auto;
  padding-bottom: 24px;
  padding-top: 94px;
  /* background: #2196F3; */
}
.header-class {
  display: flex;
  align-items: center;
  background: #ffffff;
  height: 80px;
  border-bottom: 1px solid #ececec;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.browser {
  display: flex;
  align-items: center;
  gap: 93px;
}
main li {
  list-style: none;
}
.link-brow {
  display: flex;
  list-style: none;
  gap: 50px;
}

.browser .link-brow .current {
  color: var(--var-color-textdeco-ho-fo);
}

/* .link-brow .link {
  text-decoration: none;
  font-style: normal;
  color: var(--var-color-text-black);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7142em;
  letter-spacing: 0.02em;
  margin-right: 50px;
} */

.link-brow .link {
  text-decoration: none;
  font-style: normal;
  color: var(--var-color-text-black);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7142em;
  letter-spacing: 0.02em;
}
.link:hover,
.link:focus,
.link-current:hover,
.link-current:focus {
  color: var(--var-color-textdeco-ho-fo);
}
.web-nav {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.938rem;
  text-align: right;
  letter-spacing: 0.03em;
  color: var(--var-color-textdeco-ho-fo);
}

.links-datos {
  display: flex;
  list-style: none;
  gap: 50px;
}

.links-datos a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7142em;
  letter-spacing: 0.02em;
  color: var(--var-color-text-gris);
  padding: 0px;
}

.links-datos a {
  text-decoration: none;
  color: var(--var-color-text-gris);
}

.links-datos a:hover,
.links-datos a:focus {
  color: #2196f3;
}

/* .email::before {
  margin-left: 65.75%;
  margin-right: 33.25%;
} */
.email:hover,
.email:focus {
  fill: #2196f3;
}
.phone:hover,
.phone:focus {
  fill: #2196f3;
}

.part-solu {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/first.jpg);
  max-width: 1600px;
  max-height: 600px;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.solution {
  width: 696px;
  display: block;
  margin: 0 auto;
  padding: 0px;
  padding-bottom: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--var-color-back-text);
}
.service {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 32px 10px 32px;
  gap: 10px;
  display: block;
  margin: 0 auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875em;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--var-color-back-text);
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
  border-radius: 4px;
  background: var(--var-color-textdeco-ho-fo);
  border: 2px;
}
.service:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.detail {
  display: flex;
}
.details.main {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.contents-main {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: var(--var-color-text-gris);
}
.work-main {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.625rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--var-color-text-black);
}
.ocupation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
.images {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.benefist-list {
  display: flex;
  justify-content: space-around;
}
.detall {
  margin-top: 95px;
  margin-right: 30px;
  flex-basis: calc((100% - 90px) / 4);
}
.detall1 {
  margin-top: 50px;
  margin-right: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.detall1 {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.detall1 p {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  width: 373.16px;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  margin: 0;
  margin-top: 70%;
  position: absolute;
}
.team {
  display: flex;
  flex-wrap: wrap;
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 90px;
}
.ourteam {
  margin: auto;
  padding-bottom: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.625rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.them {
  display: flex;
  margin: auto;
  padding: 0px;
}
.memb {
  background: #ffffff;
  margin-right: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-main {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.profession-main {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188rem;
  text-align: center;
  margin-top: 16px;
  letter-spacing: 0.03em;
  color: var(--var-color-text-gris);
}
.foot1 {
  height: 252px;
  padding-left: 15px;
  padding-top: 60px;
  background: #2f303a;
}

.direct-foot {
  list-style: none;
}
.foot2 {
  height: 252px;
  padding-left: 15px;
  padding-top: 60px;
  margin-top: 40px;
  background: #2f303a;
}

.web-foot {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.938rem;
  letter-spacing: 0.03em;
  color: var(--var-color-textdeco-ho-fo);
}
.addres {
  padding: auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: var(--var-color-back-text);
}

.email-2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: var(--var-color-text-gris);
}

.phone-2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: var(--var-color-text-gris);
}
/* Portafolio*/

.sites-a:hover,
.sites-a:focus,
.sites-a:active {
  background: var(--var-color-textdeco-ho-fo);
  color: var(--var-color-back-text);
}
.sites:hover,
.sites:focus,
.sites:active {
  background: var(--var-color-textdeco-ho-fo);
  color: var(--var-color-back-text);
}

.cont {
  margin-top: 106px;
}
.buttons-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sites-a {
  width: 73px;
  height: 38px;
  margin-right: 12px;
  background: var(--var-color-textdeco-ho-fo);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--var-color-back-text);
}
.sites {
  width: 128px;
  height: 38px;
  margin-right: 12px;
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--var-color-text-black);
}
.areas {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25rem;
  letter-spacing: 0.06em;
  color: var(--var-color-text-black);
}
.description {
  color: var(--var-color-text-gris);
  font-weight: 400px;
  font-size: 16px;
  line-height: 30px;
}

.box {
  flex-basis: calc((100% - 60px) / 3);
  background: var(--var-color-back-text);
  border: 1px solid #eeeeee;
  cursor: pointer;
}

.box:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.group {
  margin-top: 56px;
}

.conte {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 25px;
}

.box-desc {
  padding: 10px 24px;
}

.icon-email {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-top: 34px;
  padding: 0px;
  fill: #212121;
}
.icon-cell {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-top: 32px;
  padding: 0px;
  fill: #212121;
}

.icon-punt {
  width: 270px;
  height: 120px;
  margin-right: 10px;
  margin-top: 9px;
  padding: 0px;
  border-radius: 4px;
  background: #f5f4fa;
}
.red-socia {
  border-radius: 50%;
  fill: #afb1b8;
  margin-bottom: 0px;
}
.icon-equip {
  width: 20px;
  height: 20px;
  margin: 10px;
  padding: 1px;
}

.red-socia:hover,
.red-socia:focus {
  background: #2196f3;
  fill: #f5f4fa;
}
.cont-redes {
  display: flex;
  justify-content: center;
}
.list-redes {
  display: flex;
  justify-content: center;
  height: 44px;
  margin-top: 16px;
  padding: 0px;
  margin: 0 auto;
  margin-top: 16px;
}
.cli-regu {
  left: 640px;
  top: 2366px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.clientes {
  display: flex;
  fill: #afb1b8;
  justify-content: center;
  flex-wrap: wrap;
}
.emp {
  margin: 10px;
  padding: auto;
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.company {
  box-sizing: border-box;
  width: 170px;
  height: 81px;
}
.zone-client {
  height: 400px;
  padding: 100px;
  background: #ffff;
}

.red-cont {
  display: flex;
  list-style: none;
}
.enc {
  width: 135px;
  height: 16px;
  left: 516px;
  top: 2751px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.red-foot {
  width: 206px;
  height: 80px;
  margin-right: 70px;
}

.link-red {
  border-radius: 50%;
  padding: 5px;
  background: rgba(255, 255, 255, 0.1);
  fill: #afb1b8;
  margin-bottom: 0px;
}

.link-red:hover,
.link-red:focus {
  background: #2196f3;
  fill: #f5f4fa;
}

.icon-foot {
  width: 20px;
  height: 15px;
  margin: 1px;
  padding: auto;
}
